---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_1BymbIEB8VdfobgqG4y6n1K3&description=Sign+up+charge+for+john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_fiAG8z1KPD3ixkm7nEMDheTD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_1BymbJEB8VdfobgqRMV2urmE"
          }
        }
  recorded_at: Fri, 23 Feb 2018 19:53:01 GMT
recorded_with: VCR 2.9.3
