---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_1BymbLEB8VdfobgqJZpBYL9i&description=Sign+up+charge+for+john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_fiAG8z1KPD3ixkm7nEMDheTD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1BymbMEB8VdfobgqkUzm98mY",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1BymbMEB8VdfobgqK9ze39dH",
          "captured": true,
          "created": 1519415584,
          "currency": "usd",
          "customer": null,
          "description": "Sign up charge for john@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1BymbMEB8VdfobgqkUzm98mY/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1BymbLEB8Vdfobgqp5bkB6pT",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2021,
            "fingerprint": "pel6e9vrF4SvsbpN",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "john@example.com",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Fri, 23 Feb 2018 19:53:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=john%40example.com&source=tok_1C0FFiEB8VdfobgqXTBnD3lK
    headers:
      Authorization:
      - Bearer sk_test_fiAG8z1KPD3ixkm7nEMDheTD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CP3MOcMxOlpz7d",
          "object": "customer",
          "account_balance": 0,
          "created": 1519764046,
          "currency": null,
          "default_source": "card_1C0FFhEB8VdfobgqjaqYcqNP",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "john@example.com",
          "invoice_prefix": "e3db5cc868",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1C0FFhEB8VdfobgqjaqYcqNP",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CP3MOcMxOlpz7d",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2021,
                "fingerprint": "pel6e9vrF4SvsbpN",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "john@example.com",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CP3MOcMxOlpz7d/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CP3MOcMxOlpz7d/subscriptions"
          }
        }
  recorded_at: Tue, 27 Feb 2018 20:40:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_CP3MOcMxOlpz7d&items[0][plan]=base
    headers:
      Authorization:
      - Bearer sk_test_fiAG8z1KPD3ixkm7nEMDheTD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_CP3MOZQjOPtemJ",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1519764047,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1519764047,
          "current_period_end": 1522183247,
          "current_period_start": 1519764047,
          "customer": "cus_CP3MOcMxOlpz7d",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_CP3MiXaUhxSEgv",
                "object": "subscription_item",
                "created": 1519764048,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1519757801,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "base",
                  "product": "prod_CP1fuCrwFVRqPh",
                  "trial_period_days": null
                },
                "quantity": 1,
                "subscription": "sub_CP3MOZQjOPtemJ"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_CP3MOZQjOPtemJ"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "base",
            "object": "plan",
            "amount": 999,
            "created": 1519757801,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": "base",
            "product": "prod_CP1fuCrwFVRqPh",
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1519764047,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Tue, 27 Feb 2018 20:40:48 GMT
recorded_with: VCR 2.9.3
