---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1C0WXREB8VdfobgqqYDjFG3g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_fiAG8z1KPD3ixkm7nEMDheTD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1C0WXREB8VdfobgqqYDjFG3g",
          "object": "event",
          "api_version": "2018-02-06",
          "created": 1519830493,
          "data": {
            "object": {
              "id": "ch_1C0WXQEB8VdfobgqEZBzQXe7",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": "txn_1C0WXREB8VdfobgqGeeASm34",
              "captured": true,
              "created": 1519830492,
              "currency": "usd",
              "customer": "cus_CPLDOcpgZ0fgQS",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_1C0WXQEB8VdfobgqGy2NfNy6",
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1C0WXQEB8VdfobgqEZBzQXe7/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1C0WXPEB8VdfobgqjCQ7WJsd",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CPLDOcpgZ0fgQS",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2019,
                "fingerprint": "pel6e9vrF4SvsbpN",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "alexexample@example.com",
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "succeeded",
              "transfer_group": null
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": {
            "id": "req_Nds7EN1XnCgsqk",
            "idempotency_key": null
          },
          "type": "charge.succeeded"
        }
  recorded_at: Wed, 28 Feb 2018 19:50:19 GMT
recorded_with: VCR 2.9.3
