---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_fiAG8z1KPD3ixkm7nEMDheTD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1C0EPbEB8VdfobgqJA2N8aoh",
          "object": "token",
          "card": {
            "id": "card_1C0EPbEB8VdfobgqtixCteXK",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 2,
            "exp_year": 2019,
            "fingerprint": "pel6e9vrF4SvsbpN",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "71.120.8.74",
          "created": 1519760815,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 27 Feb 2018 19:46:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=zoe.zboncak%40carterwalker.info&source=tok_1C0EPbEB8VdfobgqJA2N8aoh
    headers:
      Authorization:
      - Bearer sk_test_fiAG8z1KPD3ixkm7nEMDheTD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CP2U7lgcC3zYTm",
          "object": "customer",
          "account_balance": 0,
          "created": 1519760816,
          "currency": null,
          "default_source": "card_1C0EPbEB8VdfobgqtixCteXK",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "zoe.zboncak@carterwalker.info",
          "invoice_prefix": "0a00c77884",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1C0EPbEB8VdfobgqtixCteXK",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CP2U7lgcC3zYTm",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 2,
                "exp_year": 2019,
                "fingerprint": "pel6e9vrF4SvsbpN",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CP2U7lgcC3zYTm/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CP2U7lgcC3zYTm/subscriptions"
          }
        }
  recorded_at: Tue, 27 Feb 2018 19:46:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_CP2U7lgcC3zYTm&items[0][plan]=base
    headers:
      Authorization:
      - Bearer sk_test_fiAG8z1KPD3ixkm7nEMDheTD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_CP2UH3qUX8hOjd",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1519760816,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1519760816,
          "current_period_end": 1522180016,
          "current_period_start": 1519760816,
          "customer": "cus_CP2U7lgcC3zYTm",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_CP2ULka464U7dQ",
                "object": "subscription_item",
                "created": 1519760817,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1519757801,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "base",
                  "product": "prod_CP1fuCrwFVRqPh",
                  "trial_period_days": null
                },
                "quantity": 1,
                "subscription": "sub_CP2UH3qUX8hOjd"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_CP2UH3qUX8hOjd"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "base",
            "object": "plan",
            "amount": 999,
            "created": 1519757801,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": "base",
            "product": "prod_CP1fuCrwFVRqPh",
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1519760816,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Tue, 27 Feb 2018 19:46:57 GMT
recorded_with: VCR 2.9.3
