---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_fiAG8z1KPD3ixkm7nEMDheTD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1C0EIVEB8Vdfobgq5cgvVM5w",
          "object": "token",
          "card": {
            "id": "card_1C0EIVEB8Vdfobgqwj7zER3M",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 2,
            "exp_year": 2019,
            "fingerprint": "pel6e9vrF4SvsbpN",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "71.120.8.74",
          "created": 1519760375,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 27 Feb 2018 19:39:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=lew%40bosco.info&source=tok_1C0EIVEB8Vdfobgq5cgvVM5w
    headers:
      Authorization:
      - Bearer sk_test_fiAG8z1KPD3ixkm7nEMDheTD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CP2NhEdBYDW3Dn",
          "object": "customer",
          "account_balance": 0,
          "created": 1519760376,
          "currency": null,
          "default_source": "card_1C0EIVEB8Vdfobgqwj7zER3M",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "lew@bosco.info",
          "invoice_prefix": "0de0ebf006",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1C0EIVEB8Vdfobgqwj7zER3M",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CP2NhEdBYDW3Dn",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 2,
                "exp_year": 2019,
                "fingerprint": "pel6e9vrF4SvsbpN",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CP2NhEdBYDW3Dn/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CP2NhEdBYDW3Dn/subscriptions"
          }
        }
  recorded_at: Tue, 27 Feb 2018 19:39:36 GMT
recorded_with: VCR 2.9.3
